<?xml version="1.0" encoding="UTF-8" ?>

<config xmlns="http://thelia.net/schema/dic/config"
        xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
        xsi:schemaLocation="http://thelia.net/schema/dic/config http://thelia.net/schema/dic/config/thelia-1.0.xsd">

    <loops>
        <!-- sample definition
        <loop name="MySuperLoop" class="NetReviews\Loop\MySuperLoop" />
        -->
    </loops>

    <forms>
        <form name="netreviews_configuration.form" class="NetReviews\Form\ConfigurationForm" />
        <form name="netreviews_send_order_form" class="NetReviews\Form\SendOrderForm" />
    </forms>

    <commands>
        <command class="NetReviews\Command\SendOrderCommand" />
    </commands>

    <services>
        <service id="netreviews.order.listener" class="NetReviews\EventListeners\OrderListener">
            <tag name="kernel.event_subscriber" />
        </service>
        <service id="netreviews.order.service" class="NetReviews\Service\OrderService" scope="request">
            <argument type="service" id="event_dispatcher"/>
            <argument type="service" id="request"/>
        </service>
    </services>

    <hooks>
        <hook id="netreviews.hook" class="NetReviews\Hook\FrontHook">
            <tag name="hook.event_listener" event="main.footer-bottom" type="front" method="displayFooterLink" />
            <tag name="hook.event_listener" event="main.body-top" type="front" method="displaySiteWidget" />
            <tag name="hook.event_listener" event="product.additional" type="front" method="displayProductTabIframe" />

            <tag name="hook.event_listener" event="netreviews.tagmanager" type="front" method="displayTag" />
            <tag name="hook.event_listener" event="netreviews.site.widget" type="front" method="displaySiteWidget" />
            <tag name="hook.event_listener" event="netreviews.product.iframe" type="front" method="displayProductIframe" />
            <tag name="hook.event_listener" event="netreviews.footer.link" type="front" method="displayFooterLink" />

            <argument type="service" id="netreviews.order.service"/>
        </hook>

        <hook id="netreviews.hook" class="NetReviews\Hook\BackHook">
            <tag name="hook.event_listener" event="order-edit.bottom" type="back" method="onOrderEditBottom" />
        </hook>
    </hooks>

    <!--
    <exports>

    </exports>
    -->

    <!--
    <imports>

    </imports>
    -->
</config>
